<div
  class="card lg:card-side !w-[600px] h-[200px] border border-opacity-25 border-zinc-300 dark:border-border_dark shadow-md relative">
  <figure class="relative w-[160px] h-[200px] p-2">
    <div class="skeleton w-full h-full p-1"></div>
    <img fill ngSrc="{{ subscription().manga.url }}" class="rounded-md p-1 object-cover">
  </figure>
  <div class="card-body pl-4 gap-4">
    <span class="card-title dark:text-@text-theme-dark text-@text-theme-white">{{subscription().manga.name}}</span>
    <div class="rating rating-sm">
      @for (item of [].constructor(subscription().rating); track $index) {
      <input name="rating-5" class="mask mask-star-2 bg-star" />
      }
    </div>
    <div class="flex flex-col">
      <div class="flex flex-wrap gap-2 overflow-x-visible">
        @for (chapter of subscription().chapters; track $index) {
        <button class="btn btn-xs btn-outline btn-primary hover:!text-txt_white">{{ chapter.number }}
          <svg (click)="deleteChapter(chapter.number, subscription().id)" class="w-2 h-2 hover:text-highlight"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
        </button>
        }
      </div>
    </div>
  </div>
  <div class="card-actions absolute p-2 right-1 bottom-1">
    <button (click)="newChapter(subscription().id)" class="btn btn-sm btn-primary text-txt_white self-end">+</button>
  </div>
</div>