<div
  class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
>
  <img
    class="object-cover rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-s-lg cursor-pointer !w-[192px] !h-[275px] hover:blur-sm sd"
    src="http://localhost:3333/{{ manga().url }}"
    alt="Não funciona"
  />

  <div
    class="flex flex-col justify-between p-4 leading-normal max-h-60 h-60 min-w-[300px]"
  >
    <div class="flex flex-col">
      <div class="flex flex-row justify-between items-center">
        <h5
          class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <!-- <p>{{ data | date : "EEE" : "" : "pt-BR" }}</p> -->
          {{ manga().name }}
        </h5>
        <div class="flex items-center self-center gap-1">
          @for (item of [].constructor(manga().rating); track $index) {
          <svg
            class="w-4 h-4 text-yellow-300 cursor-pointer"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
          >
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
            />
          </svg>
          } @for (item of [].constructor(5 - manga().rating); track $index) {
          <svg
            class="w-4 h-4 text-gray-300 dark:text-gray-500 cursor-pointer"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
          >
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
            />
          </svg>
          }
        </div>
      </div>
      <p
        class="mt-4 font-normal text-gray-700 dark:text-gray-400 w-full max-h-32 text-ellipsis overflow-y-scroll"
      >
        {{ manga().about }}
      </p>
    </div>
    <div
      class="flex flex-row gap-2 flex-wrap justify-center justify-self-end overflow-x-visible"
    >
      @for (item of manga().chapters; track $index) {
      <button class="bg-blue-600 w-8 py-0.5 text-white rounded-sm">
        {{ item.number }}
      </button>
      }
    </div>
  </div>
</div>
