<main class="w-full h-[88vh] flex">
  <form [formGroup]="mangaForm" class="m-auto w-[500px] flex flex-col p-8 rounded-md gap-4">
    <span
      class="text-center text-3xl font-bold text-@text-theme-white dark:text-@text-theme-dark mb-4">{{'pages.admin.form.title'
      | translate }}</span>

  @if (stepper) {

    <div>
      <label for="helper-text"
        class="text-sm text-@text-theme-white dark:text-@text-theme-dark">{{ 'pages.admin.form.name' | translate }}</label>
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-5 stroke-@icon-gray">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
          </svg>
        </div>
        <input placeholder="{{'pages.admin.form.placeholder-anime' | translate }}" formControlName="name" type="text"
          class="text-sm rounded-sm block w-full ps-10 p-3 text-@text-theme-white dark:text-@text-theme-dark dark:bg-@theme-dark bg-@white border border-@border-gray border-opacity-15" />
      </div>
    </div>

    <div>
      <label for="helper-text" class="text-sm text-@text-theme-white dark:text-@text-theme-dark">{{'pages.admin.form.weekday' | translate
        }}</label>
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 stroke-@icon-gray">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
          </svg>
        </div>
        <select formControlName="date" id="weekday" class="select border-@border-gray border-opacity-15 w-full text-@text-theme-white dark:text-@text-theme-dark dark:bg-@theme-dark bg-@white ps-10">
          @for (day of weekDays; track $index) {
          <option class="text-@text-theme-white " [value]="day">
            {{ 'general.days.' + day | translate }}
          </option>
          }
        </select>
      </div>
    </div>

    <div>
      <label for="helper-text" class="text-sm text-@text-theme-white dark:text-@text-theme-dark">{{'pages.admin.form.about' | translate }}</label>
      <textarea placeholder="{{'pages.admin.form.some-text' | translate }}" formControlName="about" id="about"
        class="text-sm textarea textarea-lg w-full max-h-20 text-@text-theme-white dark:text-@text-theme-dark dark:bg-@theme-dark bg-@white border-@border-gray border-opacity-15"></textarea>
    </div>
  } @else {
    <label for="helper-text" class="text-sm text-@text-theme-white dark:text-@text-theme-dark">{{'pages.admin.form.anime-image' | translate }}</label>
    <div class="flex items-center justify-center w-full mb-4">
      <input (change)="onFileChange($event)" type="file" class="file-input file-input-primary w-full max-w-xs" />
    </div>
  }

  <div class="my-5 flex flex-col items-center justify-center p-4">
    <span class="text-sm text-@white px-4 py-2 bg-neutral rounded mb-2">{{'pages.admin.form.steps' | translate }}</span>
    <ul class="w-full steps">
        <li [attr.data-content]="mangaForm.errors?.['step1'] && stepper || stepper ? '1' : '✓'" class="step"
            [ngClass]="{'step-success': !mangaForm.errors?.['step1'] && !stepper}">
        </li>

        <li [attr.data-content]="this.mangaForm.invalid ? '2' : '✓'" class="step" [ngClass]="{'step-success': this.mangaForm.valid && !stepper}">
        </li>
    </ul>
</div>

    @if (stepper) {
      <button type="button" [disabled]="mangaForm.errors?.['step1']" (click)="this.stepper = !this.stepper" 
        class="btn btn-primary w-3/5 self-center  pt-auto">{{'pages.admin.form.next' | translate }}</button>
      } @else {
      <div class="flex justify-between">
          <button type="button" (click)="this.stepper = !this.stepper" class="btn btn-secondary self-center w-40">{{'pages.admin.form.back' | translate }}</button>
          <button [disabled]="this.mangaForm.invalid" (click)="addManga()" class="btn btn-primary self-center">{{'pages.admin.form.submit' | translate }}</button>  
      </div>
      }
  </form>
</main>