<main class="w-full h-[88vh] flex">
    <div class="flex flex-col items-center justify-center w-full px-40 shadow-2xl ">
        <div class="flex items-center justify-end flex-column flex-wrap w-full p-4 
            rounded-t-md space-y-4 md:space-y-0 pb-4 dark:bg-bg_card border  border-border_dark border-opacity-25 ">
            <label class="input input-bordered flex items-center gap-2">
                <input type="text" class="grow" placeholder="Search" />
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                    class="h-4 w-4 opacity-70">
                    <path fill-rule="evenodd"
                        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                        clip-rule="evenodd" />
                </svg>
            </label>
        </div>
        <table class="w-full text-sm text-left p-8 rounded-b-md">
            <thead
                class="text-xs text-txt_dark uppercase dark:bg-bg_card border border-opacity-25 border-x-border_dark  border-t-border_dark">
                <tr>
                    <th scope="col" class="p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            class="size-5 fill-txt_dark">
                            <path
                                d="M3 1.25a.75.75 0 0 0 0 1.5h.25v2.5a.75.75 0 0 0 1.5 0V2A.75.75 0 0 0 4 1.25H3ZM2.97 8.654a3.5 3.5 0 0 1 1.524-.12.034.034 0 0 1-.012.012L2.415 9.579A.75.75 0 0 0 2 10.25v1c0 .414.336.75.75.75h2.5a.75.75 0 0 0 0-1.5H3.927l1.225-.613c.52-.26.848-.79.848-1.371 0-.647-.429-1.327-1.193-1.451a5.03 5.03 0 0 0-2.277.155.75.75 0 0 0 .44 1.434ZM7.75 3a.75.75 0 0 0 0 1.5h9.5a.75.75 0 0 0 0-1.5h-9.5ZM7.75 9.25a.75.75 0 0 0 0 1.5h9.5a.75.75 0 0 0 0-1.5h-9.5ZM7.75 15.5a.75.75 0 0 0 0 1.5h9.5a.75.75 0 0 0 0-1.5h-9.5ZM2.625 13.875a.75.75 0 0 0 0 1.5h1.5a.125.125 0 0 1 0 .25H3.5a.75.75 0 0 0 0 1.5h.625a.125.125 0 0 1 0 .25h-1.5a.75.75 0 0 0 0 1.5h1.5a1.625 1.625 0 0 0 1.37-2.5 1.625 1.625 0 0 0-1.37-2.5h-1.5Z" />
                        </svg>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Week Day
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (manga of mangas; track $index) {
                <tr class="dark:bg-bg_card border border-opacity-25 border-border_dark  border-t-border_dark">
                    <td class="w-4 p-4">
                        <div class="flex items-center">
                            <span class="font-extrabold text-txt_dark">{{$index + 1}}</span>
                        </div>
                    </td>
                    <th scope="row" class="flex items-center px-6 py-4 text-txt_dark whitespace-nowrap ">
                        <div class="w-10 h-10 rounded-full object-cover overflow-hidden">
                            <img src="http://localhost:3333/{{ manga.url }}">
                        </div>
                        <div class="ps-3">
                            <div class="text-base font-semibold">{{manga.name}}</div>
                        </div>
                    </th>
                    <td class="px-6 py-4 text-txt_dark">
                        {{manga.date}}
                    </td>
                    <td class="px-6 py-4">
                        @if (this.subscriptions.includes(manga.id)) {
                        <button class="btn btn-success text-txt_white no-animation cursor-default">Already
                            subscribed</button>

                        } @else {
                        <button class="btn btn-primary text-txt_white">Subscribe</button>

                        }
                    </td>
                </tr>

                } @empty {

                }

            </tbody>
        </table>
        <div
            class="flex items-center justify-end flex-column flex-wrap w-full p-4 rounded-b-md space-y-4 md:space-y-0 pb-4 dark:bg-bg_card border border-opacity-25 border-border_dark ">
        </div>


    </div>
</main>