<main class="flex flex-row w-full h-[88vh] flex-wrap">
  <div class="w-1/2 flex flex-col items-center justify-center">
    <h1 class="text-5xl font-semibold text-primary">Save and Organize Your Mangas</h1>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="max-w-sm w-1/2 p-4 m-auto flex flex-col">
    <span class="my-10 m-auto text-3xl font-bold text-@text-theme-white dark:text-@text-theme-dark">Sign in to your
      account</span>

    <div class="mb-5">
      <label for="email"
        class="block mb-2 text-sm text-@text-theme-white dark:text-@text-theme-dark relative">Email</label>
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
          <svg class="w-4 h-4 fill-icon_gray" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 20 16">
            <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
            <path
              d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
          </svg>
        </div>
        <input formControlName="email" type="text"
          class="border text-@text-theme-white text-sm rounded-sm block w-full ps-10 p-2.5"
          placeholder="youremail@gmail.com" />
      </div>
    </div>

    <div class="mb-5">
      <label for="password"
        class="block mb-2 text-sm text-@text-theme-white dark:text-@text-theme-dark relative">Password</label>
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 cursor-pointers">
          @if (isPasswordHiden == false) {
          <svg (click)="isPasswordHiden = !isPasswordHiden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
            fill="currentColor" class="size-5 fill-icon_gray cursor-pointer">
            <path fill-rule="evenodd"
              d="M3.28 2.22a.75.75 0 0 0-1.06 1.06l14.5 14.5a.75.75 0 1 0 1.06-1.06l-1.745-1.745a10.029 10.029 0 0 0 3.3-4.38 1.651 1.651 0 0 0 0-1.185A10.004 10.004 0 0 0 9.999 3a9.956 9.956 0 0 0-4.744 1.194L3.28 2.22ZM7.752 6.69l1.092 1.092a2.5 2.5 0 0 1 3.374 3.373l1.091 1.092a4 4 0 0 0-5.557-5.557Z"
              clip-rule="evenodd" />
            <path
              d="m10.748 13.93 2.523 2.523a9.987 9.987 0 0 1-3.27.547c-4.258 0-7.894-2.66-9.337-6.41a1.651 1.651 0 0 1 0-1.186A10.007 10.007 0 0 1 2.839 6.02L6.07 9.252a4 4 0 0 0 4.678 4.678Z" />
          </svg>
          } @else {
          <svg (click)="isPasswordHiden = !isPasswordHiden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
            fill="currentColor" class="size-5 fill-icon_gray cursor-pointer">
            <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
            <path fill-rule="evenodd"
              d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"
              clip-rule="evenodd" />
          </svg>
          }
        </div>
        <input formControlName="password" [type]="isPasswordHiden ? 'password' : 'text'"
          class="border text-@text-theme-white text-sm rounded-sm block w-full ps-10 p-2.5"
          placeholder="Your Password" />
      </div>
    </div>

    <button [disabled]="isButtonSigninDisable" type="submit" class="btn btn-primary btn-wide self-center mt-4">Sign
      in</button>
    <div
      class="my-2 py-3 flex items-center text-xs text-@text-theme-white dark:text-@text-theme-dark 
    uppercase before:flex-1 before:border-t before:border-@text-theme-white dark:before:border-@text-theme-dark 
    before:me-6 after:flex-1 after:border-t after:border-@text-theme-white dark:after:border-@text-theme-dark after:ms-6">
      or
    </div>

    <button routerLink="/signup" type="button" class="btn btn-wide btn-secondary self-center flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-5 fill-txt_white">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
      </svg>
      Sign up</button>
  </form>

</main>