<main class="flex flex-row w-full h-[88vh] flex-wrap">
    <div class="w-1/2 flex p-4">
        <button routerLink="/signin" class="btn btn-secondary">Return to Sign in</button>
        <h1 class="text-5xl font-semibold text-primary m-auto">Sign up for free!</h1>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="signUp()" class="max-w-sm w-1/2 p-4 m-auto flex flex-col">

        <span class="my-10 m-auto text-3xl font-bold text-@text-theme-white dark:text-@text-theme-dark">Sign up</span>
        @if (stepper) {
        <div class="flex flex-col gap-5 mb-auto">
            <div>
                <label for="email"
                    class="block mb-2 text-sm text-@text-theme-white dark:text-@text-theme-dark relative">Email</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 fill-icon_gray" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 16">
                            <path
                                d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                            <path
                                d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                        </svg>
                    </div>
                    <input formControlName="email" type="email"
                        class="border text-@text-theme-white text-sm rounded-sm block w-full ps-10 p-2.5"
                        placeholder="youremail@gmail.com" />
                </div>
            </div>

            <div>
                <label for="username"
                    class="block mb-2 text-sm text-@text-theme-white dark:text-@text-theme-dark relative">Username</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 fill-icon_gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z" />
                        </svg>
                    </div>
                    <input formControlName="username" type="text"
                        class="border text-@text-theme-white text-sm rounded-sm block w-full ps-10 p-2.5"
                        placeholder="yourusername" />
                </div>
            </div>

            <div>
                <label for="email"
                    class="block mb-2 text-sm text-@text-theme-white dark:text-@text-theme-dark relative">Name</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 fill-icon_gray dark:text-gray-400" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor">
                            <path
                                d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z" />
                        </svg>
                    </div>
                    <input formControlName="name" type="text"
                        class="border text-@text-theme-white text-sm rounded-sm block w-full ps-10 p-2.5"
                        placeholder="Guilherme Oliveira" />
                </div>
            </div>
        </div>
        }
        @else {
        <div class="flex flex-col gap-5 mb-auto">
            <div>
                <label for="password"
                    class="block mb-2 text-sm text-@text-theme-white dark:text-@text-theme-dark relative">
                    Password</label>
                <div class="relative">
                    <div
                        class="absolute inset-y-0 start-0 flex items-center ps-2.5 cursor-pointer fill-icon_gray dark:text-gray-400">
                        @if (isPasswordHiden == false) {
                        <svg (click)="isPasswordHiden = !isPasswordHiden" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" class="size-5 fill-icon_gray cursor-pointer">
                            <path fill-rule="evenodd"
                                d="M3.28 2.22a.75.75 0 0 0-1.06 1.06l14.5 14.5a.75.75 0 1 0 1.06-1.06l-1.745-1.745a10.029 10.029 0 0 0 3.3-4.38 1.651 1.651 0 0 0 0-1.185A10.004 10.004 0 0 0 9.999 3a9.956 9.956 0 0 0-4.744 1.194L3.28 2.22ZM7.752 6.69l1.092 1.092a2.5 2.5 0 0 1 3.374 3.373l1.091 1.092a4 4 0 0 0-5.557-5.557Z"
                                clip-rule="evenodd" />
                            <path
                                d="m10.748 13.93 2.523 2.523a9.987 9.987 0 0 1-3.27.547c-4.258 0-7.894-2.66-9.337-6.41a1.651 1.651 0 0 1 0-1.186A10.007 10.007 0 0 1 2.839 6.02L6.07 9.252a4 4 0 0 0 4.678 4.678Z" />
                        </svg>
                        } @else {
                        <svg (click)="isPasswordHiden = !isPasswordHiden" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" class="size-5 fill-icon_gray cursor-pointer">
                            <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                            <path fill-rule="evenodd"
                                d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"
                                clip-rule="evenodd" />
                        </svg>
                        }
                    </div>
                    <input formControlName="password" [type]="isPasswordHiden ? 'password' : 'text'" id="password-icon"
                        class="border text-@text-theme-white text-sm rounded-sm block w-full ps-10 p-2.5"
                        placeholder="Password" />
                </div>
            </div>

            <div>
                <label for="confirmPassword"
                    class="block mb-2 text-sm text-@text-theme-white dark:text-@text-theme-dark relative">Confirm
                    Password</label>
                <div class="relative">
                    <div
                        class="absolute inset-y-0 start-0 flex items-center ps-2.5 cursor-pointer fill-icon_gray dark:text-gray-400">
                        @if (isPasswordHiden == false) {
                        <svg (click)="isPasswordHiden = !isPasswordHiden" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" class="size-5 fill-icon_gray cursor-pointer">
                            <path fill-rule="evenodd"
                                d="M3.28 2.22a.75.75 0 0 0-1.06 1.06l14.5 14.5a.75.75 0 1 0 1.06-1.06l-1.745-1.745a10.029 10.029 0 0 0 3.3-4.38 1.651 1.651 0 0 0 0-1.185A10.004 10.004 0 0 0 9.999 3a9.956 9.956 0 0 0-4.744 1.194L3.28 2.22ZM7.752 6.69l1.092 1.092a2.5 2.5 0 0 1 3.374 3.373l1.091 1.092a4 4 0 0 0-5.557-5.557Z"
                                clip-rule="evenodd" />
                            <path
                                d="m10.748 13.93 2.523 2.523a9.987 9.987 0 0 1-3.27.547c-4.258 0-7.894-2.66-9.337-6.41a1.651 1.651 0 0 1 0-1.186A10.007 10.007 0 0 1 2.839 6.02L6.07 9.252a4 4 0 0 0 4.678 4.678Z" />
                        </svg>
                        } @else {
                        <svg (click)="isPasswordHiden = !isPasswordHiden" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" class="size-5 fill-icon_gray cursor-pointer">
                            <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                            <path fill-rule="evenodd"
                                d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"
                                clip-rule="evenodd" />
                        </svg>
                        }
                    </div>
                    <input formControlName="confirmPassword" [type]="isPasswordHiden ? 'password' : 'text'"
                        id="password-icon"
                        class="border text-@text-theme-white text-sm rounded-sm block w-full ps-10 p-2.5 "
                        placeholder="Confirm Password" />
                </div>
            </div>
        </div>
        }

        <div class="my-5 flex flex-col items-center justify-center p-4">
            <span class="text-sm text-@white px-4 py-2 bg-neutral rounded mb-2">Steps</span>
            <ul class="w-full steps">
                <li [attr.data-content]="registerForm.errors?.['step1'] && stepper || stepper ? '1' : '✓'" class="step"
                    [ngClass]="{'step-success': !registerForm.errors?.['step1'] && !stepper}">
                </li>

                <li [attr.data-content]="this.registerForm.invalid ? '2' : '✓'" class="step"
                    [ngClass]="{'step-success': this.registerForm.valid && !stepper}">
                </li>
            </ul>
        </div>

        @if (stepper) {
        <button type="button" [disabled]="registerForm.errors?.['step1']" (click)="this.stepper = !this.stepper"
            class="btn btn-primary w-3/5 self-center  pt-auto">Next</button>
        } @else {
        <div class="flex justify-between">
            <button type="button" (click)="this.stepper = !this.stepper"
                class="btn btn-secondary self-center   w-40">Back</button>
            <button [disabled]="this.registerForm.invalid || this.isDisableButton" type="submit"
                class="btn btn-primary self-center   w-40">Sign
                up</button>
        </div>
        }
    </form>
</main>