@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-snackbar-button-error {
  .mat-mdc-snackbar-surface {
    padding: 0;
  }
  .mdc-snackbar__label {
    padding: 0;
  }
}
